end: '2021-01-01T00:00:00Z'
fields:
- dist:
    lower_bound: 1
    step: 10
    type: mono_inc
    upper_bound: 1000
  name: greptime_value
  type: Float
interval: 30
precision: 1000
start: '2021-01-01T00:00:00Z'
tags:
- dist:
    type: constant_string
    value: eks-us-east-1-qa1
  name: cluster
  type: String
- dist:
    preset:
    - value: https
      weight: 1
    type: weighted_preset
  name: endpoint
  type: String
- dist:
    type: constant_string
    value: qa
  name: env
  type: String
- dist:
    type: constant_string
    value: 'false'
  name: holiday
  type: String
- dist:
    preset:
    - value: '[::1]:443'
      weight: 1
    type: weighted_preset
  name: host
  type: String
- dist:
    preset:
    - value: 10.0.169.179:10250
      weight: 1
    type: weighted_preset
  name: instance
  type: String
- dist:
    preset:
    - value: kubelet
      weight: 1
    - value: apiserver
      weight: 1
    type: weighted_preset
  name: job
  type: String
- dist:
    preset:
    - value: '1'
      weight: 1
    - value: '0.1'
      weight: 1
    - value: '60'
      weight: 1
    - value: '0.5'
    - value: +Inf
      weight: 1
    - value: '30'
      weight: 1
    type: weighted_preset
  name: le
  type: String
- dist:
    preset:
    - value: /metrics
      weight: 1
    type: weighted_preset
  name: metrics_path
  type: String
- dist:
    preset:
    - value: kube-system
      weight: 1
    type: weighted_preset
  name: namespace
  type: String
- dist:
    preset:
    - value: ip-10-0-169-179.ec2.internal
      weight: 1
    type: weighted_preset
  name: node
  type: String
- dist:
    preset:
    - value: pod-1
      weight: 1
    type: weighted_preset
  name: pod
  type: String
- dist:
    type: constant_string
    value: monitoring/prometheus-kube-prometheus-prometheus
  name: prometheus
  type: String
- dist:
    type: constant_string
    value: prometheus-prometheus-kube-prometheus-prometheus-0
  name: prometheus_replica
  type: String
- dist:
    preset:
    - value: kubernetes
      weight: 1
    type: weighted_preset
  name: service
  type: String
- dist:
    preset:
    - value: PUT
      weight: 1
    - value: GET
      weight: 1
    type: weighted_preset
  name: verb
  type: String
