end: '2021-01-01T00:00:00Z'
fields:
- dist:
    lower_bound: 1
    step: 10
    type: mono_inc
    upper_bound: 1000
  name: greptime_value
  type: Float
interval: 30
precision: 1000
start: '2021-01-01T00:00:00Z'
tags:
- dist:
    type: constant_string
    value: eks-us-east-1-qa1
  name: cluster
  type: String
- dist:
    preset:
    - value: https
      weight: 1
    type: weighted_preset
  name: endpoint
  type: String
- dist:
    type: constant_string
    value: qa
  name: env
  type: String
- dist:
    type: constant_string
    value: 'false'
  name: holiday
  type: String
- dist:
    preset:
    - value: 10.0.162.53:10250
      weight: 1
    type: weighted_preset
  name: instance
  type: String
- dist:
    preset:
    - value: kubelet
      weight: 1
    - value: apiserver
      weight: 1
    - value: kubernetes-pods
      weight: 1
    type: weighted_preset
  name: job
  type: String
- dist:
    preset:
    - value: gcrm
      weight: 1
    type: weighted_preset
  name: kubernetes_namespace
  type: String
- dist:
    preset:
    - value: gcrm-c9598d7f-hrrv2
      weight: 1
    type: weighted_preset
  name: kubernetes_pod_name
  type: String
- dist:
    preset:
    - value: '9.999999999999999e-05'
      weight: 1
    - value: '10'
      weight: 1
    - value: +Inf
      weight: 1
    - value: '0.001'
      weight: 1
    - value: '0.01'
      weight: 1
    - value: '0.1'
      weight: 1
    type: weighted_preset
  name: le
  type: String
- dist:
    preset:
    - value: /metrics
      weight: 1
    type: weighted_preset
  name: metrics_path
  type: String
- dist:
    preset:
    - value: DynamicCABundle-client-ca-bundle
      weight: 1
    type: weighted_preset
  name: name
  type: String
- dist:
    preset:
    - value: kube-system
      weight: 1
  name: namespace
  type: String
- dist:
    preset:
    - value: ip-10-0-162-53.ec2.internal
      weight: 1
    type: weighted_preset
  name: node
  type: String
- dist:
    type: constant_string
    value: monitoring/prometheus-kube-prometheus-prometheus
  name: prometheus
  type: String
- dist:
    type: constant_string
    value: prometheus-prometheus-kube-prometheus-prometheus-0
  name: prometheus_replica
  type: String
- dist:
    preset:
    - value: prometheus-kube-prometheus-kubelet
      weight: 1
    type: weighted_preset
  name: service
  type: String
